<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>template</title>
    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/template.css">
</head>
<body>
<div class="container">
    <h1>哈哈哈哈哈哈哈哈哈哈</h1>
    <div class="content">
        <div class="banner">
            <img src="./img/1.jpg" alt="">
        </div>
        <div class="banner">
            <img src="./img/2.jpeg" alt="">
        </div>
        <div class="banner">
            <img src="./img/3.jpg" alt="">
        </div>
    </div>
    <div class="btn-box">
        <div class="btn">
            <a href="#javascript:;">按钮按钮</a>
        </div>
    </div>
</div>
<div class="footer">

</div>
</body>
<script src="./lib/flexible_css.js"></script>
<script src="./lib/flexible.js"></script>
</html>